@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu+Mono&display=swap');
/*font-family: 'Bebas Neue', cursive;*/
/*font-family: 'Ubuntu Mono', monospace;*/


* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu Mono', monospace;
}

body {
    background-color: black;
    /*overflow: hidden;*/
    width: 100%;
}

.body {
    /*height: 100svh;*/
    height: 100%;
}

.navbar {
    background-color: #7b68ee;

}

.hidden {
    display: none;
}
.banner {
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
    color: #7b68ee;
    margin-top: 20px;
}
.loader {
    margin-top: 300px;
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #7b68ee transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.movieCard {
    /*border: 1px solid red*/
    position: relative;
    background-color: rgb(52, 52, 52);
    border: 1px solid rgb(255 255 255/ 5%);
    border-radius: 1.5rem;
    padding: 1rem;
    /*height: 650px!important;*/
    color: white;

}

.movieCard:after {
    content: "";
    height: 450px;
    width: 3px;
    position: absolute;
    left: -1px;
    top: 30%;
    transition: top, opacity;
    transition-duration: 600ms;
    transition-timing-function: ease;
    background: linear-gradient(
            transparent,
            mediumslateblue,
            transparent
    );
    opacity: 0;
}

.movieCard:after {
    top: 30%;
    opacity: 0;
}
.movieCard:hover {
    transition: all 200ms ease-in;
    transform: scale(.9);
    cursor: pointer;
}
.movieCard:hover:after {
    top: 15%;
    opacity: 1;

}

.movieCard-body {
    color: rgb(250 249 246);
}

.contentCard {
    background-color: rgb(52, 52, 52);
    color: white;
}

.movie-info {
    font-size: 12px;
}

.close {
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    bottom: .5rem;
}

.closeCard:hover,
.closeCard:focus {
    color: #7b68ee;
    cursor: pointer;
}

.modal-x:hover, .modal.x:focus {
    color: #931f1f;
    cursor: pointer;
}

.pop {
    color: black;
    float: left;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    bottom: 1rem;
    right: .5rem;
    display: flex;
    justify-content: start;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: dimgrey;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.star-modal {
    display: flex;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.star-wrap {
    display: flex;
    justify-content: center;
}

.posters {
    height: 450px !important;
}

/*.scrolly-polly {*/
/*    overflow:auto;*/
/*    height: 680px;*/
/*    margin-top: 3px;*/

/*}*/

.btnColorScheme {
    background-color: #7b68ee;
    color: white;
}
.btnColorScheme:hover {
    background: mediumseagreen;

}
